
@{
  ViewBag.Title = "Home Page";
}


<!--Home body content-->
<div class="home-content">
    
    <div class="home-row">
        <div class="home-logo">
            <img src="~/Content/images/TheatreLogo.png" />
        </div>
    </div>
    
    <div class="home-row">
        <!--Column1 Spotlight-->
        <div class="flex-container">
            <div class="home-col1">
                <div class="home-title">
                    <h3>SPOTLIGHT</h3>
                </div>
                <img src="~/Content/images/DollsHouse.png" />
                <img src="~/Content/images/Tempest.png" />
                <img src="~/Content/images/MidsummerNightDream.png" />
                <img src="~/Content/images/macbeth.png" />
            </div>
            <!--Column2 Sidebar-->
            <div class="home-col2">
                <!--Donations-->
                <div class="donations">
                    <div class="home-title">
                        <h3>DONATIONS</h3>
                    </div>
                    <div class="btn-container">
                        <button class="home-btn">Click to Support</button>
                    </div>
                </div>
                <div>
                    <!--Sponsors-->
                    <div class="home-title">
                        <h3>SPONSORS</h3>
                    </div>
                    <div class="sponsors-container">
                        <div class="sponsor-img-container"><img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" class="home-sponsors" /></div>
                        <div class="sponsor-img-container"><img src="~/Content/images/Sponsors/LogoRoundColor.png" class="home-sponsors" /></div>
                        <div class="sponsor-img-container"><img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" class="home-sponsors" /></div>
                        <div class="sponsor-img-container"><img src="~/Content/images/Sponsors/RACC.png" class="home-sponsors" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-row">
        <!--Column1 Land Acknowledgement-->
        <div class="flex-container">
            <div class="home-col1">
                <div class="home-title">
                    <h3>LAND ACKNOWLEDGEMENT</h3>
                </div>
                <div class="home-text">
                    <p>
                        Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional
                        tribal lands of the Multnomah, Wasco, Clackamas, Chinook bands, Kathlamet, Tualatin,
                        Kalapuya, Cowlitz, Mollala, Cascades, Oregon City Tumwater, Confederated Tribes of
                        the Grand Ronde and other indigenous peoples.<br /><br />
                        <span style="font-weight: bold;">We are on stolen land.</span><br /><br />
                        Theatre Vertigo has been and continues to examine our community relationships to ensure
                        our collaborators, partners and sponsors support the our reions Indegenous Nations and communities.<br /><br />
                        One of the ways Theatre Vertigo is working to act on our commitment to being of service
                        to the lands that we now share is to build bridges between our arts community and local Nations.
                    </p>
                </div>
            </div>
            <!--Column2 Link-->
            <div class="home-col2">
                <div class="home-acknowledgement">
                    <a href="https://nayapdx.org/" target="_blank"><img src="~/Content/images/NAYAFamilyCenter.jpg" /></a>
                    <div class="home-text">
                        <p>Click to visit the NAYA Family Center to learn more about supporting our local indigenous communities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    

   














@*<div class="row">
  <div class="col-md-4">
      <h2>Getting started</h2>
   <p>
              ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
              enables a clean separation of concerns and gives you full control over markup
              for enjoyable, agile development.
          </p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <h2>Get more libraries</h2>
          <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <h2>Web Hosting</h2>
          <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
          <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
      </div>
  </div>*@